.registration-form {
    width: 300px;
    margin: 0 auto;
   }
   
   .registration-form input[type="text"],
   .registration-form input[type="number"],
   .registration-form input[type="email"],
   .registration-form select
    {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
   }
   
   .registration-form input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
   }
   
   .registration-form input[type="submit"]:hover {
    opacity: 0.8;
   }
   
   .registration-form .error {
    color: red;
    margin-top: 10px;
   }